@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.width {
  width: calc(100vw - 8rem);
}

.content {
  height: 100vh;
  background-color: #f0f0f0;
  padding-top: 1rem;
}

.link {
  @apply hover:text-gray-600 transition duration-300 ease-in-out;
}
